html {
    scroll-behavior: smooth;
    @include fluid-type(375px, 1025px, 8.5px, 10px);

    body {
        background-color: $bodyBgColor;
        font-family: $bodyFontFamily;
        color: $textColor;
        font-size: 1.2rem;

        .container-custom {
            max-width: 500px;
        }

        h1 {
            font-family: $primaryFontFamily;
            font-size: 4rem;
        }

        a {
            text-decoration: none;
            color: $primaryColor;
        }

        i {
            color: $primaryColor;
            font-size: 1.8rem;
        }

        .welcome-text {
            font-size: 2.4rem;
        }

        .form-container {
            display: none;
        }

        .form-container.visible {
            display: block;
        }

        .form-control:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }


    }

}